# Importing Libarys

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 2. Datasets

1. French Gouverment 2013:
2. French Gouverment 2014:
3. EAA

In [36]:
# Dataset French Gouv 2013
fg_2013 = pd.read_csv("Data/cl_JUIN_2013-complet3.csv", 
                      sep=';', encoding='latin-1')

display(fg_2013.info())

# Dataset French Gouv 2013
fg_2014 = pd.read_csv("Data/mars-2014-complete.csv", 
                      sep=';', encoding='latin-1')

display(fg_2014.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44850 entries, 0 to 44849
Data columns (total 26 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Marque                                44850 non-null  object
 1   Modèle dossier                        44850 non-null  object
 2   Modèle UTAC                           44850 non-null  object
 3   Désignation commerciale               44850 non-null  object
 4   CNIT                                  44850 non-null  object
 5   Type Variante Version (TVV)           44850 non-null  object
 6   Carburant                             44850 non-null  object
 7   Hybride                               44850 non-null  object
 8   Puissance administrative              44850 non-null  int64
 9   Puissance maximale (kW)               44850 non-null  float64
 10  Boîte de vitesse                      44850 non-null  object
 11  Consommation urbaine (l/100km)        44808 non-null  float64
 12  Consommation extra-urbaine (l/100km)  44808 non-null  float64
 13  Consommation mixte (l/100km)          44811 non-null  float64
 14  CO2 (g/km)                            44811 non-null  float64
 15  CO type I (g/km)                      44547 non-null  float64
 16  HC (g/km)                             10403 non-null  float64
 17  NOX (g/km)                            44547 non-null  float64
 18  HC+NOX (g/km)                         34191 non-null  float64
 19  Particules (g/km)                     41708 non-null  float64
 20  masse vide euro min (kg)              44850 non-null  int64
 21  masse vide euro max (kg)              44850 non-null  int64
 22  Champ V9                              44615 non-null  object
 23  Date de mise à jour                   44850 non-null  object
 24  Carrosserie                           44850 non-null  object
 25  gamme                                 44850 non-null  object
dtypes: float64(10), int64(3), object(13)
memory usage: 8.9+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55044 entries, 0 to 55043
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lib_mrq            55044 non-null  object
 1   lib_mod_doss       55044 non-null  object
 2   lib_mod            55044 non-null  object
 3   dscom              55044 non-null  object
 4   cnit               55044 non-null  object
 5   tvv                55044 non-null  object
 6   cod_cbr            55044 non-null  object
 7   hybride            55044 non-null  object
 8   puiss_admin_98     55044 non-null  int64
 9   puiss_max          55044 non-null  object
 10  typ_boite_nb_rapp  55044 non-null  object
 11  conso_urb          55001 non-null  object
 12  conso_exurb        55001 non-null  object
 13  conso_mixte        55010 non-null  object
 14  co2                55010 non-null  float64
 15  co_typ_1           54886 non-null  object
 16  hc                 9773 non-null   object
 17  nox                54886 non-null  object
 18  hcnox              45156 non-null  object
 19  ptcl               52366 non-null  object
 20  masse_ordma_min    55044 non-null  int64
 21  masse_ordma_max    55044 non-null  int64
 22  champ_v9           54983 non-null  object
 23  date_maj           3247 non-null   object
 24  Carrosserie        55044 non-null  object
 25  gamme              55044 non-null  object
 26  Unnamed: 26        0 non-null      float64
 27  Unnamed: 27        0 non-null      float64
 28  Unnamed: 28        0 non-null      float64
 29  Unnamed: 29        0 non-null      float64
dtypes: float64(5), int64(3), object(22)
memory usage: 12.6+ MB

None

Column Mapping Dictonary

In [ ]:
column_name_mapping = {
    'Marque': 'Brand',
    'Modèle dossier': 'Model file',
    'Modèle UTAC': 'UTAC model',
    'Désignation commerciale': 'Commercial designation',
    'CNIT': 'CNIT',
    'Type Variante Version (TVV)': 'Type Variant Version (TVV)',
    'Carburant': 'Fuel',
    'Hybride': 'Hybrid',
    'Puissance administrative': 'Administrative power',
    'Puissance maximale (kW)': 'Maximum power (kW)',
    'Boîte de vitesse': 'Transmission',
    'Consommation urbaine (l/100km)': 'Urban consumption (l/100km)',
    'Consommation extra-urbaine (l/100km)': 'Extra-urban consumption (l/100km)',
    'Consommation mixte (l/100km)': 'Combined consumption (l/100km)',
    'CO2 (g/km)': 'CO2 (g/km)',
    'CO type I (g/km)': 'CO type I (g/km)',
    'HC (g/km)': 'HC (g/km)',
    'NOX (g/km)': 'NOX (g/km)',
    'HC+NOX (g/km)': 'HC+NOX (g/km)',
    'Particules (g/km)': 'Particulates (g/km)',
    'masse vide euro min (kg)': 'Empty mass euro min (kg)',
    'masse vide euro max (kg)': 'Empty mass euro max (kg)',
    'Champ V9': 'Field V9',
    'Date de mise à jour': 'Update date',
    'Carrosserie': 'Body',
    'gamme': 'Range'
    }

Column Translation `fg_2013` and preperation

In [ ]:
# Rename the columns using the mapping dictionary
fg_2013.rename(columns=column_name_mapping, inplace=True)

# Display the head of the DataFrame after translation and removal of unnamed columns
display(fg_2014.head())

# Display summary statistics of the DataFrame
display(fg_2014.describe())

# Display information about the DataFrame (data types, non-null counts, etc.)
display(fg_2014.info())

Column Translation `fg_2014` and preperation

In [ ]:
# Translation of column names from French to English

    # Add translations for other columns as needed


# Rename the columns using the translation dictionary
fg_2014.rename(columns=column_translation, inplace=True)

# Remove the unnamed columns (assuming they are empty)
fg_2014 = fg_2014.loc[:, ~fg_2014.columns.str.startswith('Unnamed')]

# Display the head of the DataFrame after translation and removal of unnamed columns
display(fg_2014.head())

# Display summary statistics of the DataFrame
display(fg_2014.describe())

# Display information about the DataFrame (data types, non-null counts, etc.)
display(fg_2014.info())